/* Write your CSS here */
.repo-list-container {
  background-color: #f8f8ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 10px;
  height: 250px;
  width: 200px;
}

.details {
  display: flex;
  justify-content: flex-start;
}

.avatar {
  height: 70px;
}

.icon {
  height: 15px;
  margin-right: 10px;
}

.name {
  color: #e73959;
  font-family: Roboto;
  font-size: 20px;
}

.count {
  font-size: 15px;
  margin-top: 0px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
